# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\golang\test\log_collect\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
